<div class="jumbotron" style="padding-left:10%">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-6">
        <p>
            <h5><b>Addresss</b></h5>
            <h6><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{details.address.street}}</h6>{{details.address.suite}}{{details.address.zipcode}}
        </p>
        <p>
            <h5><b>Company</b></h5>
            <h6><i class="fa fa-building" aria-hidden="true"></i>&nbsp;{{details.company.name}}</h6><samp>{{details.company.catchPhrase}}</samp>
        <br>
        <a href><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;{{details.website}}</a>
        </p>
    </div>
    <div class="col-lg-8 col-sm-8 col-md-6">
          <ng-map style="padding-right:2%" center={{geo}}></ng-map>
    </div>
    </div>
</div>